

         body{
            margin: 0;
            background-color:white;
        }
        .nav{
            width:100%;
            height:55px;
            background-color: black;
            padding-left: 70px;
            
            
           
        }
        .nav>button{background-color: black;
          width:5%;
          color:white;
          margin-right: 50px;
          margin-top:15px;
          border: 0px;
          font-size: 17px;
          /* border: 2px solid white; */

          


        }
        .nav>button:nth-child(1)
        {
          margin-left: 145px;
        }

        .nav>button:nth-child(11)
        {
          margin-left: 20px;
        }
        
      
       div img{
           padding-left: 10%;
           width:80%;
           margin-top: 0px;
       } 
       .top{
           width:100%;
           height: 63px;
           background-color: rgb(238,238,238);
           /* border: 1px solid black; */
           color: rgb(204, 8, 8);
           text-align: center;
           font-size: 17px;
           font-weight: bold;
           padding-top: 10px;
           font-family: "Gill Sans", sans-serif; 
       } 
       .top1{
        width:90%;
        margin: auto;
        display: flex;
        height:100px;
        justify-content: space-around;
        font-family: "Gill Sans", sans-serif;
        
       }
       .top11{
           width: 200px;
           text-align: center;
           font-size: 30px;
           font-weight: bold;
           font-family: "Gill Sans", sans-serif;
       } 
       .top13{
        /* width: 190px; */
        height:45px;
        text-align: center;
        font-size: 17px;
        margin-top: 18px;
        font-family:googleapis;
        
        /* border: 1px solid black; */
        
       }
       .top12{
        width:520px; 
        height: 23px;
        font-size: 20px;
        border-radius: 30px;
        margin-top:30px; 
        background-color:rgb(246,246,248);
        border: 0;
        color:rgb(246,246,248);
        padding: 10px;
        display:flex;
        font-family: "Gill Sans", sans-serif;
       } 
      i{
          color:grey;
          padding-right: 15px;
      }
      .top12>input{
          flex:1;
          height: 20px;
          border:none;
          outline: none;
          font-size: 18px;
          background-color:rgb(246,246,248);
          padding-left: 15px;
          font-family: "Gill Sans", sans-serif;
      }
   
  /* ---------------------------------------------------------------------------------- */
  #box>p{
            text-align: center;
            font-size: 30px;  
        }

        #top2>p{
          text-align: center;
             
             font-size: 30px;  
        }
        #top3>p{
          text-align: center;
             
             font-size: 30px;  
        }
        #Dropped{
            width:80%;
            height:220px;
            margin:auto;
            display: flex;
            flex-wrap: wrap;
            /* border:2px solid black; */
            margin-top: 50px;
            margin-left: 280px;
        }
        #Dropped>div{
            width:15%;
            height:220px;
           /* border:2px solid red; */
        }
        /* #first{
            /* background-color: seagreen; */
        /* } */ 
        #image{
            width:50%;
            height:60%;
            /* border:2px solid slateblue; */
            margin: auto;
        }
       #text{
           width:100%;
           height:80px;
           /* border: 2px solid green; */
       }
        #text{
           padding: -500px;
           margin-bottom: -200px;
       }
      #text>h5,h6,p{
           text-align: center;
           margin-bottom: -18px;
           line-height: 20px;
       }
       img{
           width:100%;
           height:100%;
       }    
       #Droppeddown{
            width:80%;
            height:300px;
            margin:auto;
            flex-wrap: wrap;
            /* border:2px solid black; */
            margin-top: 50px;
        }
        #Droppeddown1{
            display:flex;
            margin:0 5% 0 5%;
        }
        #image1{
            width:100%;
            height:60%;
            /* border:2px solid slateblue; */
            margin: auto;
            
        }




     #top>p{
            text-align: center;
             color: black;
            font-size: 30px;  
        }

        #top2>p{
          text-align: center;
          color: black;
             font-size: 30px;  
        }
        #top3>p{
          text-align: center;
          color: black;
             font-size: 30px;  
        }
        #chosen{
            width:80%;
            height:220px;
            margin:auto;
            display: flex;
            flex-wrap: wrap;
            /* border:2px solid black; */
            margin-top: 50px;
            margin-left: 280px;
        }
        #chosen>div{
            width:15%;
            height:220px;
           /* border:2px solid red; */
        }
      #chosen>div>p,h4,h5{
        text-align: center;
      }
        #image{
            width:50%;
            height:60%;
            /* border:2px solid slateblue; */
            margin: auto;
        }
       #text{
           width:100%;
           height:80px;
           /* border: 2px solid green; */
       }
        #text{
           padding: -500px;
           margin-bottom: -200px;
       }
      #text>h5,h6,p{
           text-align: center;
           margin-bottom: -18px;
           color: black;
       }
       #text>p{
         color: black;
       }
       img{
           width:100%;
           height:100%;
       }
   #beauty{
       width:80%;
            height:220px;
            margin:auto;
            display: flex;
            flex-wrap: wrap;
            /* border:2px solid black; */
            margin-top: 12px;
   }
   #beauty>div>h4,h5,p{
     text-align: center;
   }
   #beauty>div{
            width:15%;
            height:220px;
           /* border:2px solid red; */
           margin-left:130px;
           margin-top: 60px;
           /* margin-right: -10px; */
        }
        #beauty>div:nth-child(4){
          margin-left: 50px;
        }
        #one{
          margin-left: 120px;
          width:10%;
           height:55%;
           /* border:2px solid black; */
           border-radius: 20px;
           padding-bottom: 20px;
        }
        #two{
          margin-left: 190px;
          width:10%;
           height:55%;
           /* border:2px solid black; */
           border-radius: 20px;
           padding-bottom: 20px;
        }

        #three{
          margin-left: 160px;
          width:10%;
           height:55%;
           /* border:2px solid black; */
           border-radius: 20px;
           padding-bottom: 20px;
        }

        #four{
          margin-left: 160px;
          width:10%;
           height:55%;
           /* border:2px solid black; */
           border-radius: 20px;
           padding-bottom: 20px;
        }
        #more{
       width:80%;
            height:220px;
            margin:auto;
            display: flex;
            flex-wrap: wrap;
            /* border:2px solid black; */
            margin-top: 12px;
   }

   #more>div{
            width:15%;
            height:404px;
           
           margin:50px;
           margin-left: 80px;
        }
        #woody{
          width:221px;
          height:404px;
          
        }
        #demand{
          width:60%;
            height:165px;
            margin:auto;
            display: flex;
            flex-wrap: wrap;
            /* border:2px solid black; */
            margin-top: 300px;
        }
        #main{
          /* border:2px solid red; */
          width:101%;
          height:60px;
          margin: auto;
          background-color: rgb(204,204,204);
          margin-top: 50px;

        }
        
        #black{
          width: 100%;
          height:1000px;
          background-color: black;
        }
        #main>h4{
          padding: 18px;
          text-align: center;
        }

       #red{
         width:90%;
         /* border: 2px solid red; */
         margin: auto;
         display: flex;
         padding:50px;
         height:100px;
         margin-left: 150px;
       }
       #red>div{
         width:17%;
         height:150px;
         /* border:3px solid teal; */
         margin-left: 10px;
         display: flex;
       }
      hr{
        margin-top: -20px;
      }
       #box2{
         width:70%;
         /* border:3px solid blue; */
         margin: auto;
         margin-top: 15px;
         display: flex;
       }
       
       #box2>div{
         width:15%;
         height:500px;
         /* border: 3px solid white; */
         margin-right: 30px;
         margin-left: 10px;
       }
      
      
      .home{
        width:20%;
        height:20%;
        margin-top: 20px;
        color: white;
      }  
      .store>h4,p{
        
        margin-bottom: -20px;
        color: white;
        text-align: left;
        
      }
      .store{
        
        height:100px;
        width: 160px;
        margin-left: 16px;
        /* border: 2px solid white; */
      }
      
       
       #box2>div>h4,h5{
         
         text-align: left;
         color: whitesmoke;
       }

       #box3>div>h4,h5{
         
         text-align: left;
         color: whitesmoke;
       }
       #US{
         height:20px;
         width:30px;
         margin-right: 15px;
         /* border: 2px solid white; */
         margin-top: -30px;
         margin-left: -20px;
       }

       #English{
        display: flex;
        padding: 20px;
       }

       #bottom{
         width:1300px;
         /* border:2px solid red; */
         margin: auto;
         display: flex;
         justify-content: space-between;
       }
       #logo{
         width:350px;
         display: flex;
             /* border: 2px solid white; */
       }
       #logo>div{
         width:8%;
         height:30%;
         /* border: 2px solid brown; */
       }